<p id="notice"><%= notice %></p>

<h1>Posted Projects</h1>

<table>
  <thead>
    <tr>
      <th>Post title</th>
      <th>Post content</th>
      <th>User Name</th>
      <th>Number of likes</th>
      <th>Like here</th>

      <th colspan="8"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= link_to post.post_title, post_path(post)%></td>
        <td><%= post.post_content %></td>
        <td><%= post.user.name %></td>
       <td><%= link_to like_post_path(post), method: :put do%> Interested?  <% end %> 
        
        </td>
        <td> <%= post.get_upvotes.size %> 
        </td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path([:user_id]) %>
