<p id="notice"><%= notice %></p>

<p>
  <strong>Post title:</strong>
  <%= @post.post_title %>
</p>

<p>
  <strong>Post content:</strong>
  <%= @post.post_content %>
</p>

<p>
  <strong>User:</strong>
  <%= current_user.id %>
</p>

<%= link_to 'Edit', edit_user_post_path(post_params) %> |
<%= link_to 'Back', user_posts_path(post_params) %>
