<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>



  <!---
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
-->
</head>

<body>

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">

      <div class="collapse navbar-collapse">


          <% if current_user %>
            <ul>
              <li><%= current_user.email %></li>
              <li><%= link_to 'Home' %></li>
              <li><%= link_to "Log out", logout_path, method: "delete" %></li>
            </ul>
          <% else %>
            <ul>
              <li><%= link_to "Login", 'login' %></a></li>
              <li><%= link_to "Signup", 'signup' %></a></li>
            </ul>
          <% end %>

      </div>
    </div>
  </nav>

  <div class="container">
    <% flash.each do |type, message| %>
      <div class="alert alert-<%= type %>"><%= message %></div>
    <% end %>

    <%= yield %>
  </div>

</body>

</html>
